*.a
*.c
*.cc
*.cpp
*.cxx
*.con
*.cerr
*.cout
*.d
*.dll
*.exe
*.fail
*.fmu
*.h
*.hh
*.hpp
*.hxx
*.html
*.ilk
*.lib
*.log
*.map
*.o
*.o-*
*.obj
*.orig
*.out
*.pass
*.pdb
*.pdf
*.png
*.pyc
*.pyd
*.pyw
*.res
*.rpt
*.so
*.so.*
*.stp
*.sum
*.xls
*.xlsx
*.xml
*.zip
*.7z
*_log.txt
*~
.directory
.DS_Store

*.geany
.project
.cproject
.idea
.se
.vscode
perf.data
