*.a
*.c
*.cc
*.con
*.cout
*.d
*.dll
*.exe
*.fmu
*.gcda
*.h
*.hh
*.html
*.ilk
*.lib
*.log
*.map
*.o
*.o-*
*.obj
*.optrpt
*.orig
*.out
*.pdb
*.pdf
*.png
*.pyc
*.pyw
*.res
*.rpt
*.so
*.so.*
*_log.txt
*~
.directory
.DS_Store

*.geany
.project
.cproject
.idea
.se
.vscode
perf.data
